<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hudipo.pum_indomaret">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.responsibility.ResponsActivity"></activity>
        <activity android:name=".activities.inbox.InboxActivity" />
        <activity android:name=".activities.approval.ApprovalActivity" />
        <activity android:name=".activities.request.RequestDetailActivity" />
        <activity android:name=".activities.request.Request3Activity" />
        <activity android:name=".activities.request.Request2Activity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.request.RequestActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>